body{
    background-color: rgb(126, 81, 113);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    width: 900px;
    padding: 10px;
    margin: auto;
}

h1{
    color: rgb(10, 19, 19);
}
h2{
    color: rgb(19, 16, 12);
}